* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

header div nav div div ul li .dropdown-menu {
  background-color: #26B6C6;
}

.servicios-ofrecidos {
  background-color: #e0f2f1;
}

h2 {
  text-align: center;
  padding-top: 30px;
  text-decoration-color: #828282;
  font-family: helvetica neue, arial, sans-serif;
  font-weight: bold;
  text-underline-offset: 0.5em;
  color: #26B6C6;
}

.hr-presentacion {
  width: 40%;
  border: 2px solid;
  color: #b71c1c;
  margin-left: 30%;
  border-radius: 2px;
  margin-top: 6px;
}

.tituloSecundario {
  margin-top: 10px;
  margin-left: 20px;
}

.hr-titulo-secundario {
  width: 29%;
  border: 2px solid;
  color: #b71c1c;
  margin-left: 36%;
  border-radius: 2px;
}

.imagenes-clientes img {
  width: 300px;
  margin: 5px;
  height: 160px;
  gap: 30px;
}

.imagenes-clientes .imagen-pucobre, .imagen-anglo, .imagen-kinross {
  display: none;
}

h3 {
  text-align: center;
}

.tituloDirecciones {
  text-align: start;
  height: 50px;
  margin-left: 10px;
  padding-top: 8px;
  color: black;
  top: 850px;
  text-decoration: none;
}

.mapaDirecciones iframe {
  display: inline;
  margin: 10px;
  border-radius: 15px;
  margin-top: 30px;
}

.mapas-iframe {
  display: flex;
  justify-content: space-around;
}

.mapas-iframe .mapa-santiago, .mapas-iframe .mapa-calama {
  display: none;
}

.direcciones h3 {
  padding-top: 8px;
  margin-left: 100px;
}

.titulo-derechos-reservados {
  font-size: 15px;
  color: black;
  margin: 2px;
  height: 40px;
  padding-top: 10px;
}

.titulo-derechos {
  display: flex;
  justify-content: end;
  width: 90rem;
}

.contenedor-final {
  display: flex;
  background-color: #26B6C6;
}

.iconos img {
  width: 30px;
  margin-right: 5px;
  bottom: 0;
  padding-top: 5px;
}

.iconos {
  text-align: end;
  width: 50%;
  display: none;
}

.boton-contacto {
  width: 350px;
  font-weight: bold !important;
}

.imagen-origenes img {
  height: 50vh;
  width: 100%;
  border-radius: 5px;
}

.titulo-origenes {
  text-align: center;
  background-color: #42a5f5;
  color: whitesmoke;
  width: 450px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}

.origenes p {
  padding-top: 20px;
  margin: 25px;
}

.objetivos-vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.titulo-objetivos {
  background-color: #42a5f5;
  color: whitesmoke;
  height: 40px;
  border-radius: 15px;
}

.titulo-vision {
  background-color: #42a5f5;
  color: whitesmoke;
  height: 40px;
  border-radius: 15px;
}

.objetivos p {
  margin: 35px;
}

.vision p {
  margin: 35px;
}

.imagen-servicios-tecnologicos img {
  width: 100%;
  height: 60vh;
}

.titulo-servicios {
  text-align: center;
  background-color: #42a5f5;
  color: whitesmoke;
  top: 470px;
  left: 450px;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.servicios p {
  padding-top: 40px;
  margin-left: 30px;
  padding-bottom: 20px;
}

.abastecimiento {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #26B6C6;
  margin-bottom: 40px;
}

.consultoria {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #26B6C6;
  margin-bottom: 40px;
}

.img-abastecimiento {
  width: 100%;
  height: 50vh;
  margin-left: 20px;
}

.img-consultoria {
  width: 100%;
  height: 50vh;
  margin-left: 20px;
}

.soluciones-tecnologicas {
  color: #26B6C6;
  margin-bottom: 50px;
  text-decoration: underline;
}

.imagen-soluciones-tecnologicas img {
  width: 100%;
  height: 60vh;
  margin-right: 0;
  padding-right: 0;
}

.parrafo-abastecimiento {
  margin-left: 20px;
}

.parrafo-consultoria {
  margin-left: 20px;
}

.parrafo-soluciones-tecnologicas {
  margin-left: 50px;
}

.titulo-clientes {
  text-align: start;
  margin-left: 20px;
  padding-top: 30px;
  font-family: helvetica neue, arial, sans-serif;
  font-weight: bold;
  color: #26B6C6;
  font-size: 2em;
}

.contenedor-clientes .imagen-principal-clientes {
  height: 70vh;
}

.imagen-principal-clientes img {
  width: 95%;
}

.main-clientes {
  padding-right: 0;
  margin-right: 0;
}

.contenedor-clientes {
  padding-right: 0;
  margin-right: 0;
}

.clientes {
  padding-top: 30px;
}

.contenedor-clientes .parrafo-clientes {
  padding-left: 40px;
}

.casos-exito {
  justify-content: center;
  padding-left: 10px;
}

.caso-uno p p, .caso-dos p p, .caso-tres p {
  padding: 0 0 0 30px;
}

.imagen-caso1 img {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 220px;
}

.imagen-caso2 img {
  width: 100%;
  padding-top: 20px;
  height: 180px;
}

.imagen-caso3 img {
  width: 70%;
}

.imagen-contacto img {
  width: 100%;
  height: 60vh;
}

.parrafo-contacto {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}

.formulario input {
  width: 420px;
  height: 40px;
  margin: 10px;
  padding-left: 40px;
}

.formulario textarea {
  width: 420px;
  margin: 10px;
  padding-left: 40px;
}

.formulario label {
  text-decoration: underline;
  margin-left: 20px;
  display: block;
}

.contenedor-formulario .video-contacto {
  display: none;
}

.boton-enviar {
  text-align: center;
  justify-content: center;
  font-weight: bold !important;
  width: 420px;
  margin: 10px;
}

/* estilos mobile para home */
@media screen and (min-width: 600px) {
  .mapas-iframe .mapa-santiago, .mapas-iframe .mapa-calama {
    display: block;
  }
  .imagenes-clientes .imagen-pucobre, .imagen-anglo, .imagen-kinross {
    display: inline;
  }
  .iconos {
    display: inline;
  }
}
@media screen and (max-width: 599px) {
  .imagen-principal-clientes img {
    width: 100%;
  }
  .logo {
    width: 60%;
  }
}
/* estilos mobile para contacto */
@media screen and (min-width: 600px) {
  .contenedor-formulario .video-contacto {
    display: inline;
    border-radius: 25px;
  }
  .formulario input {
    width: 520px;
  }
  .formulario textarea, .boton-enviar {
    width: 520px;
  }
}

/*# sourceMappingURL=style.css.map */
