* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

header div nav div div ul li .dropdown-menu {
  background-color: #26B6C6;
}

main {
  width: 100%;
}

.servicios-ofrecidos {
  background-color: #e0f2f1;
}

h2 {
  text-align: center;
  padding-top: 30px;
  text-decoration-color: #828282;
  font-family: helvetica neue, arial, sans-serif;
  font-weight: bold;
  text-underline-offset: 0.5em;
  color: #26B6C6;
}

.hr-presentacion {
  width: 40%;
  border: 2px solid;
  color: #b71c1c;
  margin-left: 30%;
  border-radius: 2px;
  margin-top: 6px;
}

.servicios-index {
  background-color: rgba(130, 130, 130, 0.1607843137);
}

.p-servicios-index {
  padding: 30px;
}

.clientes {
  background-color: rgba(130, 130, 130, 0.1607843137);
}

.imagen-servicios-index img {
  width: 50%;
  height: 50vh;
}

.imagen-servicios-index {
  display: flex;
  justify-content: center;
}

.titulo-secundario {
  margin-top: 10px;
  margin-left: 20px;
}

.hr-titulo-secundario {
  width: 29%;
  border: 2px solid;
  color: #b71c1c;
  margin-left: 36%;
  border-radius: 2px;
}

.imagenes-clientes {
  display: flex;
  justify-content: center;
}

.imagenes-clientes img {
  width: 230px;
  height: 160px;
  gap: 50px;
  margin: 40px;
  animation: movimiento infinite 7s 1s;
}
@keyframes movimiento {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

h3 {
  text-align: center;
}

footer {
  background-color: rgb(224, 244, 248);
}
footer section {
  background-color: rgb(224, 244, 248);
}

.titulo-direcciones {
  text-align: start;
  height: 50px;
  margin-left: 10px;
  padding-top: 8px;
  color: black;
  top: 850px;
  text-decoration: none;
  background-color: rgb(224, 244, 248);
}

.mapa-direcciones iframe {
  display: inline;
  margin: 10px;
  border-radius: 15px;
  margin-top: 30px;
}

.mapas-iframe {
  display: flex;
  justify-content: space-around;
}

.mapas-iframe .mapa-antofagasta, .mapas-iframe .mapa-calama {
  display: none;
}

.direcciones h3 {
  margin-left: 20px;
}

.titulo-derechos-reservados {
  font-size: 15px;
  color: black;
  margin: 2px;
  height: 40px;
  padding-top: 10px;
}

.titulo-derechos {
  display: flex;
  justify-content: center;
  width: 90rem;
}

.contenedor-final {
  display: flex;
  background-color: #26B6C6;
}

.iconos img {
  width: 30px;
  margin-right: 5px;
  bottom: 0;
  padding-top: 5px;
}

.iconos {
  text-align: start;
  width: 50%;
}

.boton-contacto {
  width: 350px;
  font-weight: bold !important;
  transition: all 2s;
}

.boton-contacto:hover {
  width: 450px;
  background-color: green !important;
}

.imagen-origenes img {
  height: 50vh;
  width: 100%;
}

.titulo-origenes {
  text-align: center;
  background-color: #42a5f5;
  color: whitesmoke;
  width: 450px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.origenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imagen-animada-origen img {
  width: 100%;
}

.origenes p {
  padding-top: 50px;
  margin: 25px;
}

.parrafo-extenso-manet {
  margin: 25px;
}

.objetivos-vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.imagen-objetivos {
  width: 100%;
}

.imagen-vision {
  width: 100%;
}

.titulo-objetivos {
  background-color: #42a5f5;
  color: whitesmoke;
  height: 40px;
  border-radius: 15px;
}

.titulo-vision {
  background-color: #42a5f5;
  color: whitesmoke;
  height: 40px;
  border-radius: 15px;
}

.objetivos p {
  margin: 35px;
}

.vision p {
  margin: 35px;
}

.main-clientes {
  margin-right: 0 !important;
}

.contenedor-logo {
  margin-right: 0 !important;
}

.titulo-clientes {
  text-align: start;
  margin-left: 20px;
  padding-top: 30px;
  font-family: helvetica neue, arial, sans-serif;
  font-weight: bold;
  color: #26B6C6;
  font-size: 2em;
}

.titulo-secundario-clientes {
  text-align: center;
  margin-left: 20px;
  padding-top: 30px;
  font-family: helvetica neue, arial, sans-serif;
  color: #26B6C6;
  font-size: 2em;
}

.imagen-principal-clientes img {
  width: 90%;
  height: 40vh;
  padding: 80px 20px 0 0;
  border-radius: 50px 280px;
}

.clientes {
  padding-top: 30px;
}

.contenedor-clientes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contenedor-clientes .parrafo-clientes, .parrafo-clientes-dos {
  padding-left: 40px;
}

.casos-exito {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 0 0 40px;
}

.imagen-caso1 {
  display: flex;
  justify-content: center;
}

.imagen-caso1 img {
  width: 60%;
  border-radius: 280px 50px;
}

.imagen-caso2 {
  display: flex;
  justify-content: center;
}

.imagen-caso2 img {
  width: 60%;
  border-radius: 280px 50px;
}

.caso3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 50px 0 50px;
}

.titulo-caso3 {
  margin-bottom: 20px;
}

.imagen-caso3 img {
  width: 100%;
  height: 45vh;
  padding-top: 90px;
  border-radius: 0 280px 0 280px;
}

.imagen-servicios-tecnologicos img {
  width: 100%;
  height: 60vh;
}

.titulo-servicios {
  text-align: center;
  background-color: #42a5f5;
  color: whitesmoke;
  top: 470px;
  left: 450px;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.parrafo-uno-servicios {
  padding-top: 40px;
  margin-left: 30px;
}

.parrafo-dos-servicios, .parrafo-tres-servicios {
  padding: 0;
  margin-left: 30px;
}

.abastecimiento {
  display: flex;
  justify-content: center;
  color: #26B6C6;
  margin-bottom: 40px;
}

.consultoria {
  display: flex;
  justify-content: center;
  color: #26B6C6;
  margin-bottom: 50px;
}

.img-abastecimiento {
  width: 95%;
  height: 50vh;
  margin-left: 15px;
  border-radius: 50px;
}

.img-consultoria {
  width: 95%;
  height: 50vh;
  margin-left: 5px;
  border-radius: 50px;
}

.contenedor-servicios-ofrecidos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.soluciones-tecnologicas {
  color: #26B6C6;
}

.imagen-soluciones-tecnologicas {
  display: flex;
  justify-content: center;
}

.imagen-soluciones-tecnologicas img {
  width: 90%;
  height: 70vh;
  border-radius: 50px 280px 50px 280px;
}

.parrafo-abastecimiento {
  margin-left: 20px;
}

.parrafo-extendido-abastecimiento {
  margin-left: 20px;
}

.parrafo-consultoria {
  margin-left: 20px;
  margin-top: 30px !important;
}

.parrafo-soluciones-tecnologicas {
  padding: 0 30px 0 30px;
}

.hr-servicios {
  width: 29%;
  border: 2px solid;
  color: #b71c1c;
  margin-left: 36%;
  border-radius: 2px;
}

.imagen-contacto img {
  width: 100%;
  height: 60vh;
}

.titulo-contacto {
  width: 90%;
  display: flex;
  justify-content: center;
  color: #26B6C6;
  margin-bottom: 30px;
}

.titulo-contacto span {
  animation: movimiento infinite 5s 1s;
}

@keyframes movimiento {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  99% {
    transform: scale(1);
  }
}
.parrafo-contacto {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}

.contenedor-formulario-video {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contenedor-video iframe {
  width: 100%;
  height: 70vh;
  padding: 30px;
}

.formulario input {
  width: 420px;
  height: 40px;
  margin: 10px;
  padding-left: 40px;
}

.formulario textarea {
  width: 420px;
  margin: 10px;
  padding-left: 40px;
}

.formulario label {
  text-decoration: underline;
  margin-left: 20px;
  display: block;
}

.boton-enviar {
  text-align: center;
  justify-content: center;
  font-weight: bold !important;
  width: 420px;
  margin: 10px;
}

@media screen and (max-width: 720px) {
  .iconos {
    display: none;
  }
  .logo {
    padding-left: 90px;
  }
  .imagenes-clientes {
    display: block;
    padding-left: 50px;
  }
  .imagenes-clientes .imagen-kinross, .imagen-anglo, .imagen-sqm {
    display: none;
  }
  .imagen-principal-clientes img {
    width: 100%;
  }
  .imagen-servicios-index img {
    height: 30vh;
  }
  .direcciones h3 {
    display: flex;
    text-align: start;
  }
  .parrafo-extenso-manet {
    display: none;
  }
  .origenes {
    display: block;
  }
  .objetivos {
    display: none;
  }
  .objetivos-vision {
    display: grid;
    grid-template-columns: 1fr;
  }
  .parrafo-uno-servicios, .parrafo-tres-servicios {
    display: none;
  }
  .contenedor-servicios-ofrecidos {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 25px;
  }
  .abastecimiento {
    animation: slide 5s 1s;
  }
  @keyframes slide {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  .consultoria {
    animation: slide 5s 1s;
  }
  @keyframes slide {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  .img-abastecimiento {
    width: 100%;
    height: 30vh;
    border-radius: 50px;
  }
  .img-consultoria {
    width: 100%;
    height: 30vh;
    padding-left: 25px;
    border-radius: 50px;
  }
  .parrafo-extendido-abastecimiento {
    display: none;
  }
  .imagen-soluciones-tecnologicas img {
    width: 100%;
    height: 30vh;
    border-radius: 20px 100px;
  }
  .contenedor-clientes {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 20px;
  }
  .imagen-principal-clientes img {
    display: none;
  }
  .parrafo-clientes-dos {
    display: none;
  }
  .casos-exito {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 20px;
  }
  .casos-exito img {
    width: 100%;
    height: 20vh;
  }
  .caso3 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 50px 0 50px;
  }
  .imagen-caso3 {
    display: none;
  }
  .contenedor-video iframe {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .mapas-iframe .mapa-antofagasta, .mapas-iframe .mapa-calama {
    display: flex;
  }
  .imagenes-clientes .imagen-kinross, .imagen-anglo, .imagen-sqm {
    display: inline;
  }
  .imagen-sqm {
    display: none;
  }
  .imagen-kinross {
    display: none;
  }
  .contenedor-formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
