//----------------------------------------------------------------------------------------------------------------
//importacion de utilidades

@import "utilidades/variables";
@import "utilidades/mixin";

//-------------------------------------------------------------------------------------------
//importacion de componentes

@import "componentes/reset";
@import "componentes/navbar";


//estilos index

.servicios-ofrecidos{
    background-color: nth($colores-institucionales, 3);
}

h2{
    text-align: center;
    padding-top: 30px;
    text-decoration-color: #828282;
    font-family: helvetica neue, arial, sans-serif;
    font-weight: bold;
    text-underline-offset: 0.5em;
    color: $color-principal;
}

.hr-presentacion{
    width: 40%;
    border: 2px solid;
    color: $color-hr;
    margin-left: 30%;
    border-radius: 2px;
    margin-top: 6px;
}

.tituloSecundario {
    margin-top: 10px;
    margin-left: 20px;
}

.hr-titulo-secundario{
    width: 29%;
    border: 2px solid;
    color: $color-hr;
    margin-left: 36%;
    border-radius: 2px;
}

.imagenes-clientes {

    img{
        width: 300px;
        margin: 5px;
        height: 160px;
        gap: 30px; 
    }
}

.imagenes-clientes .imagen-pucobre, .imagen-anglo, .imagen-kinross{
    display: none;
}

h3 {
    text-align: center;
    
}

.tituloDirecciones {
    text-align: start;
    height: 50px;
    margin-left: 10px;
    padding-top: 8px;
    color: nth($colores-institucionales, 1);
    top: 850px;
    text-decoration: none;
}

.mapaDirecciones {
    iframe{
        display: inline;
        margin: 10px;
        border-radius: 15px;
        margin-top: 30px;
    }
}

.mapas-iframe{
    display: flex;
    justify-content: space-around;
}

.mapas-iframe .mapa-santiago, .mapas-iframe .mapa-calama{
    display: none;
}

.direcciones {
    h3{
        padding-top: 8px;
        margin-left: 100px;
    }
    
}

.titulo-derechos-reservados {
    font-size: 15px;
    color: nth($colores-institucionales, 1);
    margin: 2px;
    height: 40px;
    padding-top: 10px;
}

.titulo-derechos{
    display: flex;
    justify-content: end;
    width: 90rem;
}

.contenedor-final {
    display: flex;
    background-color: $color-principal;
}

.iconos {
    img{
        width: 30px;
        margin-right: 5px;
        bottom: 0;
        padding-top: 5px;   
    }
}

.iconos{
    text-align: end;
    width: 50%;
    display: none;
}

.boton-contacto{
    width: 350px;
    font-weight: bold !important;
    transition: all 2s;
}

.boton-contacto:hover {
    width: 450px;
    background-color: green !important;
}

//estilos manet
@import "componentes/manet";

//estilos para clientes
@import "componentes/clientes";

//estilos para servicios
@import "componentes/servicios";

//estilos para contacto
@import "componentes/contacto";

// medias queries
@import "componentes/media-queries";



