
//estilos para clientes

.main-clientes {
    margin-right: 0 !important;
}

.contenedor-logo {
    margin-right: 0 !important;
}

.titulo-clientes{
    text-align: start;
    margin-left: 20px;
    padding-top: 30px;
    font-family: helvetica neue, arial, sans-serif;
    font-weight: bold;
    color: $color-principal;
    font-size: 2em;
}

.contenedor-clientes .imagen-principal-clientes{
    height: 70vh;
}

.imagen-principal-clientes img{
    width: 95%;
}
.main-clientes{
    padding-right: 0;
    margin-right: 0;
}

.contenedor-clientes{
    padding-right: 0;
    margin-right: 0;
}

.clientes{
    padding-top: 30px;
}

.slider .slider-track {
    display: flex;
    justify-content: center;
    gap: 20px;
    -webkit-animation: scroll 40s linear infinite;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    
}

.contenedor-clientes .parrafo-clientes{
    padding-left: 40px;

}

.casos-exito {
    justify-content: center;
    padding-left: 10px;
}

.caso-uno p, .caso-dos p, .caso-tres {
    p{
        padding: 0 0 0 30px;
    }
}

.imagen-caso1 {
    img{
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
        height: 220px;
    }
}

.imagen-caso2 {
    img{
        width: 100%;
        padding-top: 20px;
        height: 180px;
    }
}

.imagen-caso3 {
    img{
        width: 70%;
    }
}