
//estilos para Manet

.imagen-origenes {
    img{
        height: 50vh;
        width: 100%;
    }
}

.titulo-origenes {
    text-align: center;
    background-color: #42a5f5;
    color: nth($colores-institucionales, 2);
    width: 450px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;    
}

.origenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imagen-animada-origen{
    img{
        width: 100%;
    }
}

.origenes {
    p{
        padding-top: 50px;
        margin: 25px;
    }
}

.parrafo-extenso-manet{
    margin: 25px;
}

.objetivos-vision{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.imagen-objetivos{
    width: 100%
}

.imagen-vision{
    width: 100%
}

.titulo-objetivos{
    @include titulos-objetivos-vision;
}

.titulo-vision{
    @include titulos-objetivos-vision;
}

.objetivos {
    p{
        margin: 35px;
    }
}

.vision {
    p{
        margin: 35px;
    }
}