
// color para header y footer 
$color-principal: #26B6C6;

// color para hr de los titulos
$color-hr: #b71c1c;


// --------------------------------------------------------------------------------------------------------------

//lista

$colores-institucionales: black, whitesmoke, #e0f2f1;

//--------------------------------------------------------------------------------------------------------------



